*{
    font-family: 'Pangolin', cursive;
}

:root{
    --main: #0803E4;
    --middle: #A3AB78;
    --sec: #C4EEF2;
    --black: #0D0C0A;
    --black--light: #19181a;
}

.tx-main{
    color: var(--main);
}

.tx-middle{
    color: var(--middle);
}

.tx-sec{
    color: var(--sec);
}

.tx-gradient{
    background: linear-gradient(to right, var(--main), var(--middle), var(--sec));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-linear-black{
    background: linear-gradient(var(--black) , var(--black--light));
}

.container-music{
    height: 500px;
    width: 300px;
    position: absolute;
    border-radius: 20px;
    left: 50%;
    top: calc(50% - 300px);
    overflow: hidden;
    box-shadow: 0px 0px 40px var(--black) , 0px 0px 80px var(--sec);
}

.container-music .header{
    height: 50px;
    background-color: var(--black);
}

.container-music .image{
    height: 300px;
}

.container-music img{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    transition: 0.5s;
}

.container-music img.active{
    height: 320px;
    width: 320px;
    animation-name: play;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.container-music .footer{
    height: 150px;
    background-color: var(--black);
}

@keyframes play {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#background{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-image: url(./img_music/Pierre-auguste-Renoir-Landscape-at-Grasse.jpg);
    background-size: cover;
    /* background-position: center; */
    filter: blur(2px);
}

#sidebarmusic{
    width: 300px;
    height: 100vh;
    position:absolute;
    background-color: var(--black);
    left: -300px;
    top: 0px;
    transition: 0.5s;
}

#sidebarmusic.open{
    left: 0px;
}

#cover-track.active{
    height: 250px;
    width: 250px;
}

.pointer{
    cursor: pointer;
}

.img_size{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.border-main{
    border-bottom: solid 4px var(--main);
}

.track-card.active{
    background: linear-gradient(var(--black) 90%, var(--sec));
}

.track-card .fa-pause{
    display: none;
}  

.track-card.active .fa-play{
    display: none;
}  

.track-card.active{
    display: block;
} 

.border-main.active{
    border-bottom: solid 4px var(--sec);
}

@media screen and (max-width: 768px) {
    #sidebarmusic {
      width: 220px;
    }
    .container-music{
        width: 240px;
    }
  }